body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  backdrop-filter: blur(20px);
  background-color: #34453D;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-section {
  margin: 20px 0;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

input {
  margin-right: 10px;
  padding: 8px;
  width: 70%;
}

button {
  padding: 8px 12px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

.result-section {
  margin: 20px 0;
  padding: 10px;
  background-color: #e0ffe0;
  border-radius: 8px;
  color: #333;
  font-weight: bold;
}
